button{
    background-color: rgb(219, 211, 211);
}
body{
    height: 2000px;
    width: 4000px;
}
.custom{
    height: 100px;
    width: 100px;
    background-color: deepskyblue;
   
}

.active{
    background-color: rgb(85, 6, 48);
}

